@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon';
  src: url('/fonts/brandon-thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Brandon';
  src: url('/fonts/brandon.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Brandon';
  src: url('/fonts/brandon-bold.otf') format('opentype');
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Brandon';
}

h2 {
  font-size: 40px;
  color: #12284c;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #12284c;
}

.text-shadow-sm {
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.719);
}

.swiper-block {
  span {
    display: block;
  }
}

.swiper-inline {
  span {
    display: inline-block;
  }
}

.swiper-button-disabled {
  opacity: 0.4;
  cursor: default;
}

.swiper-pagination-bullet {
  position: relative;
  z-index: 99;
  opacity: 1;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  width: 8px;
  height: 8px;
  transition: 150ms all;
}

.swiper-pagination-bullet-active:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid white;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}
